@media only screen and (min-width: 600px) {
  html {
    color: red; }
  body header .backgroundImg {
    background: url("../imgs/driftCarOne.jpeg") 15% no-repeat/cover; }
  body .stats .statsWrapper {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr)); }
  body .prices .pricingWrapper {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr)); }
    body .prices .pricingWrapper .pricing table {
      width: 85vw; }
  body footer .aboutSection {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 0; } }

@media only screen and (min-width: 900px) {
  html {
    color: blue; }
  body header .backgroundImg {
    background: url("../imgs/driftCarOne.jpeg") -50% no-repeat/cover; }
  body header .headerWrapper {
    clip-path: polygon(0 0, 20% 0, 42% 100%, 0% 100%); }
  body .stats .statsWrapper {
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr)); }
  body .prices .pricingWrapper {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); }
    body .prices .pricingWrapper .pricing table {
      width: 29vw; }
  body footer .aboutSection {
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    grid-gap: 0; } }
